<h1>User:</h1>
<div class="all">
    <table class='table table-striped'>
      <thead *ngIf="Users != undefined">
        <tr class="main">
          <th *ngFor="let h of thead" scope='col' class="text-center">{{h}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of Users" class="main text-center">
          <td scope='col'>{{ u.id }}</td>
          <td scope='col'>{{ u.nom }}</td>
          <td scope='col'>{{ u.prenom }}</td>
          <td scope='col'>{{ u.email }}</td>
          <td scope='col'>{{ u.password }}</td>
          <td>
            <a (click)="deleteUser(u.id)" class="mx-3"> 
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<h1>Admin:</h1>
<div class="all">
    <table class='table table-striped'>
      <thead *ngIf="Admins != undefined">
        <tr class="main">
          <th *ngFor="let h of thead" scope='col' class="text-center">{{h}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of Admins" class="main text-center">
          <td scope='col'>{{ u.id }}</td>
          <td scope='col'>{{ u.nom }}</td>
          <td scope='col'>{{ u.prenom }}</td>
          <td scope='col'>{{ u.email }}</td>
          <td scope='col'>{{ u.password }}</td>
          <td>
            <a (click)="deleteUser(u.id)" class="mx-3"> 
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
</div>