.slideshow .swiper-slide {
    background-position: center;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-size 1s ease-in-out;
  }