<div class="all">
    <div class="container">
        <h5 style="text-align: center;">Voulez-vous vraiment vous déconnecter ?</h5><br>
        <section>
            <div style="text-align: center;">
                <img src="../../../../assets/img/emlak-bg.png" style="width: 200px; height: auto;" alt="Logo">
            </div>
            <div style="display: flex;">
                <input type="submit" value="Déconnecter" (click)="navigateToHome()" style="margin-right: 10px;">
                <input type="button" value="Annuler" (click)="navigateToAutre()" >
            </div>
        </section>
    </div>
</div>